main{
	min-height: 1080px;
	max-width: 1111px;
	margin: 0 auto;
}
.width{
	max-width: 1111px;
	margin: 0 auto;
}

.back{
	text-decoration: none;
	font-size: 20px;
	display: inline-block;
}
.back:hover{
	text-decoration: underline;
}
.admin_products {
}
.admin_products_index {
	margin-top: 20px;
}

.admin_heading {
	padding-top: 24px;
	padding-bottom: 80px;
	text-align: center;
}
.admin_heading h2{
	font-style: normal;
	font-weight: 300;
	font-size: 40px;
	line-height: 59px;
	text-align: center;
	color: #000000;
}
.admin_block {
	display: flex;
	flex-direction: column;
}
.admin_cart {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 36px;
	background: #f5f5f5bd;
	border-radius: 10px;
	margin-bottom: 20px;
}
.admin_feedback{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 36px;
	background: #f5f5f5bd;
	border-radius: 10px;
	margin-bottom: 20px;
	transition: .2s ease-in-out;

}
.admin_feedback a{
	font-style: normal;
	font-weight: 300;
	font-size: 28px;
	line-height: 34px;
	text-decoration: none;
	text-align: center;
	color: #000000;
	transition: .2s ease-in-out;

}
.admin_feedback:hover {
	background: #333333;
	transition: .2s ease-in-out;
}
.admin_feedback:hover a{
	color: #fff;
}

.admin_cart h2{
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 34px;
	text-align: center;
	color: #000000;
}
.admin_cart a{
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 34px;
	text-align: center;
	color: #000000;
	margin-left: 20px;
}

.admin_cart_second{
	display: flex;
	align-items: center;
}
.admin_cart_second a{
	text-decoration: none;
	margin-right: 20px;
}
.admin_cart_second a:hover, button:hover{
	text-decoration: underline;

}
button{
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 34px;
	text-align: center;
	color: #000000;
	margin-left: 20px;
	border: transparent;
	background: transparent;
	cursor: pointer;
}


